@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  padding: 0px;
  display: flex;
  justify-content: center;
  margin: 0px;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  background-color: #D3E0E2;
  color: #555;
}

ul {
  list-style: none;
}

.bold {
  font-weight: 900;
}

.space {
  margin: 30px;
}

.name {
  font-size: 30px;
  letter-spacing: 30px;
}

a {
  color: #555;
  text-decoration: none;
}

.resume {
  display: flex;
  max-width: 950px;
  padding: 50px;
  margin: 0px;
}
.resume .left {
  flex: 3;
}
.resume .left .list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  padding: 10px;
}
.resume .left .list .icon .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 6px #F1684E;
  position: relative;
}
.resume .left .list .icon .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #6FA3A9;
}
.resume .left .list .icon h3 {
  display: flex;
  justify-content: center;
}
.resume .left .list .padtop {
  margin-top: 50px;
}
.resume .right {
  flex: 9;
}
.resume .right .profile {
  display: flex;
  width: 100%;
  border-bottom: solid 2px #F1684E;
  margin-bottom: 0px;
  align-items: top;
}
.resume .right .profile .title, .resume .right .profile .contact {
  width: 50%;
  padding: 20px;
}
.resume .right .profile .title {
  display: flex;
  flex-wrap: wrap;
  font-size: initial;
  border-right: solid 2px #F1684E;
  padding: 5px;
  margin-left: 50px;
}
.resume .right .profile .title li {
  padding: 5px;
}
.resume .right .profile .title a {
  text-align: center;
  margin-left: 50px;
  padding: 10px;
}
.resume .right .profile .contact {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-bottom: 10px;
  padding: 5px;
}
.resume .right .profile .contact .edu, .resume .right .profile .contact .touch {
  padding: 5px;
  margin-left: 0px;
  font-size: 0px;
}
.resume .right .profile .contact .edu li, .resume .right .profile .contact .touch li {
  padding: 0px;
  font-size: 14px;
  margin-top: 8px;
}
.resume .right .profile .contact .edu li i, .resume .right .profile .contact .touch li i {
  color: #6FA3A9;
  font-size: 20px;
  padding-right: 10px;
}

.btn {
  border: solid 3px #6FA3A9;
  padding: 5px 20px;
  margin-right: 10px;
}

.fill {
  background-color: #6FA3A9;
}

.skills {
  border-bottom: solid 2px #F1684E;
  margin: 10px;
  padding: 10px;
}

.listSkill {
  display: flex;
  padding: 5px;
  margin-top: 20px;
}
.listSkill li {
  width: 20%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.skillcircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F1684E;
  overflow: hidden;
  position: relative;
  margin: 15px;
}

.skillcircle:after {
  content: "";
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #D3E0E2;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p90, .p180, .p270, .p360, .p250 {
  width: 50%;
  height: 50%;
  background-color: rgba(111, 163, 169, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
}

.p180 {
  top: 50%;
}

.p270 {
  left: 0;
  top: 50%;
}

.p360 {
  top: 0;
  left: 0;
}

.program {
  border-bottom: solid 2px #F1684E;
  margin: 10px;
  padding: 5px;
}

.proglist {
  margin: 20px;
  padding: 5px;
}
.proglist li {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-left: 50px;
}
.proglist li .bar {
  display: inline-flex;
  width: 40%;
  height: 20px;
  border-radius: 5px;
  border: solid 3px #F1684E;
}
.proglist li .bar .value {
  width: 60%;
  height: 100%;
  background-color: rgba(111, 163, 169, 0.7);
  border-radius: 3px;
  padding: 2px;
  box-sizing: border-box;
}
.proglist li .bar .p5 {
  width: 5%;
}
.proglist li .bar .p40 {
  width: 40%;
}
.proglist li .bar .p60 {
  width: 60%;
}
.proglist li .bar .p70 {
  width: 70%;
}

.expriance {
  border-bottom: solid 2px #F1684E;
  margin: 10px;
  padding: 10px;
}

.listwork {
  display: flex;
}
.listwork li {
  width: calc(100%/7 - 5px);
  height: 1px;
  background-color: #6FA3A9;
  display: flex;
  margin: 10px;
  position: relative;
  margin-left: 0px;
}
.listwork li:after {
  content: "";
  display: flex;
  margin: -10px 106px;
  width: 25px;
  height: 25px;
  background-color: #6FA3A9;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
}
.listwork li:hover:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -15px 100px;
  cursor: pointer;
}

.year, .workstory {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
}

.move {
  margin-left: 50px;
}

.workstory {
  flex-wrap: nowrap;
  font-size: 14px;
  font-weight: normal;
  margin: 15px;
}
.workstory li {
  margin-top: 10px;
  width: 20%;
  text-align: center;
}
.workstory li .po {
  margin: 5px;
  padding: 10px;
}

.interest {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}
.interest .out, .interest .athome {
  width: 50%;
  padding: 30px;
}
.interest .out h3, .interest .athome h3 {
  background-color: rgba(111, 163, 169, 0.5);
  display: inline-block;
  padding: 10px;
}
.interest .out {
  border-right: solid 2px #F1684E;
}
.interest .out li {
  margin-left: -30px;
}

.footer {
  text-align: center;
  margin: 50px;
  font-size: 14px;
  font-weight: bolder;
  color: #666;
}

.top, .back {
  position: fixed;
  width: 45px;
  height: 30px;
  background-color: rgba(242, 201, 76, 0.5);
  text-align: center;
  padding: 3px 3px;
  padding-top: 10px;
  right: 5px;
  top: 40%;
  z-index: 1;
}
.top a, .back a {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.back {
  left: 5px;
  padding: 5px 10px;
}
